.container {
    color: rgb(255, 255, 255);
    margin-top: 64px;
    @media (max-width: 600px) {
        margin-top: 56px;
    }
    img {
        width: 100%;
    }
    .background-container {
        position: relative;
        text-align: center;
        .text-center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            h3 {
                font-size: 2vw;
                font-weight: bold;
            }
        }
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #2d3436;
    }    
}